<div class="card col-md-4" *ngFor="let user of usersdata; let i = index;" (click)="onUserClick(user.id)">
  <img [src]="user?.avatar" alt="John" style="width:100%">
  <h1>{{user?.first_name +' ' + user?.last_name}}</h1>
  <p class="title">CEO & Founder</p>
  <p>{{user?.email}}</p>
  <p><button>Contact</button></p>
</div>
<div class="paging pull-right">
  <ul class="pagination">
      <li (click)= "getUserdataList(page)" *ngFor="let page of paginationLength">
        <a href="javascript:void(0)">{{page}}</a>
      </li>
  </ul>
</div>
